# 编译产物
build/
*.exe
*.obj
*.d
*.o
*.a

# IDE 配置
.vscode/
.qtcreator/
*.user

# CMake 缓存
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Qt 生成文件
*.qm
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h

# 测试日志
Testing/

# 语音模块备份目录
software/client/*_backup/

# 第三方库
third_party/models/
third_party/sherpa-onnx/